@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
}
.main {
    /* styles for .main */
    font-family: 'Space Grotesk', sans-serif;
    display: flex;
    width: 100%;
}

.left-img {
    /* styles for .left-img */
    
}

.left-img-desktop {
    /* styles for .left-img-desktop */
}

.left-img-mobile {
    /* styles for .left-img-desktop */
    display: none;
    
}

.cards {
    /* styles for .cards */
    position: absolute;
    top: 100px;
    padding-left: 65px;
}

.front {
    /* styles for .front */
    font-family: 'Space Grotesk', sans-serif;
    color: white;
    padding-left: 100px;
}

.front-content {
    /* styles for .front-content */
    position: absolute;
    padding-left: 20px;

}
.card-logo {
    /* styles for .card-logo */
    position: absolute;
    top: 22px;
    left: 22px;
    width: 42px;    
    
}
.card-design{
    /* styles for .card-design */
    padding-top: 20px;
}
.cardNumber{
    font-size: 2rem;
    transform: translateY(30px);
    padding-bottom: 20px;
    letter-spacing: 2px;   
}

.cardExp-wrapper {
    /* styles for .cardExp-wrapper */
    position: absolute;
    right: 0;
}

.back {
    /* styles for .back */
    font-family: 'Space Grotesk', sans-serif;
    color: rgb(255, 255, 255);
    
    padding-top: 25px;
    padding-left: 175px;
}
.card-cvc{
    position: absolute;
    right: 55px;
    bottom: 120px;

}

.form {
   /* styles for .form */
   float: center;
   position: absolute;
    margin: auto auto auto auto;
    
    display: block;
    color: rgb(95, 0, 95);
    text-transform: uppercase;
    font-size: small;
    display: block;


}

.form p{
    color: red;
    font-size: smaller;
    transform: translateY(-10px);
}

.form-field {
    /* styles for .form-field */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(182, 182, 182);
    transition: all 0.2s ease-in-out;
    width: 400px;
}
.form-field:hover {
    border: 2px solid purple;

}
.form-field:focus {
    outline: none;
    border: 2px solid rgb(116, 116, 116);

}

.exp-date {
    /* styles for .exp-date */
    grid-column: 1;
}

.form-field-date {
    /* styles for .form-field-date */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(182, 182, 182);
    transition: all 0.2s ease-in-out;
    width: 50px;
}
.form-field-date:focus {
    outline: none;
    border: 2px solid rgb(116, 116, 116);

}
.form-field-date:hover {
    border: 2px solid purple;

}
.form-field-group {
    /* styles for .form-field-group */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}
.cvc {
    /* styles for .cvc */
    grid-column: 2;
}

.form-field-cvc {
    /* styles for .form-field-cvc */
    padding: 10px;
    border-radius: 5px;
    border: 2px solid rgb(182, 182, 182);
    transition: all 0.2s ease-in-out;
    width: 180px;
}
.form-field-cvc:focus {
    outline: none;
    border: 2px solid rgb(116, 116, 116);

}
.form-field-cvc:hover {
    border: 2px solid purple;

}
.form-confirm{
    padding: 10px;
    width: 100%;
}

.error {
    border: 1px solid red;
}


button{
    background-color: #220930;
    color: white;
    border-radius: 5px;
    transition: all 0.2s ease-in-out;
    
}
button:hover{
    background-color: #330e4a;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: underline;
}
.form_success{
    float: right;
    border: 0px solid green;
    padding: 300px;
}
.success {
    
    
    float: center;
   margin: auto auto auto auto;
   text-align: center;
   position: relative;
}
.success-continue-button {
    /* styles for .success-continue-button */
    
    padding: 10px;
    margin: 10px;
    width: 300px;
}
.hidden{
    display: none;

}

.attribution {
    /* styles for .attribution */
}

@media (max-width: 480px) {
    body {
        margin: 0;
        padding: 0;
        
    }

    .main {
        /* styles for .main */
        font-family: 'Space Grotesk', sans-serif;
        display: flex;
        flex-direction: column; /* new style */
    }
    
    .left-img {
        /* styles for .left-img */
        padding: 0px;
        margin: 0px;
        
    }
    
    .left-img-desktop {
        /* styles for .left-img-desktop */
        display: none;
        
    }
    
    .left-img-mobile {
        /* styles for .left-img-desktop */
        display: block;
        order: 1; /* new style */
        width: 100%;
        
    }
    
    .cards {
        /* styles for .cards */
        position: absolute;
        top: 50px;
        padding-left: 15px;
    }
    
    .front {
        /* styles for .front */
        font-family: 'Space Grotesk', sans-serif;
        color: white;
        padding-left: 0px;
        position: absolute;
        top: 100px;
    }
    .front-card{
        width: 300px;
    }
    
    .front-content {
        /* styles for .front-content */
        position: absolute;
        padding-left: 10px;
    
    }
    .card-logo {
        /* styles for .card-logo */
        position: absolute;
        top: 14px;
        left: 16px;
        width: 38px;
        z-index: 1;;    
        
    }
    .card-design{
        /* styles for .card-design */
        padding-top: 10px;
        transform: scale(0.8);
    }
    .cardNumber{
        font-size: 1.25rem;
        transform: translateY(-0px);
        padding-bottom: 0px;
        letter-spacing: 2px;   
    }
    
    .cardExp-wrapper {
        /* styles for .cardExp-wrapper */
        position: absolute;
        right: 0;
    }
    
    .back {
        /* styles for .back */
        font-family: 'Space Grotesk', sans-serif;
        color: rgb(255, 255, 255);
        
        padding-top: 0px;
        padding-left: 45px;
    }
    .back img{
        width: 300px;
    }
    .card-cvc{
        position: absolute;
        right: 45px;
        bottom: 77px;
    
    }
    
    .form {
       /* styles for .form */
       float: center;
       position: absolute;
        margin: auto auto auto auto;
        
        display: block;
        color: rgb(95, 0, 95);
        text-transform: uppercase;
        font-size: small;
        display: block;
        border: 0px solid red;
    
    
    }
    
    .form p{
        color: red;
        font-size: smaller;
        transform: translateY(-10px);
    }
    
    .form-field {
        /* styles for .form-field */
        padding: 10px;
        border-radius: 5px;
        border: 2px solid rgb(182, 182, 182);
        transition: all 0.2s ease-in-out;
        width: 330px;
    }
    .form-field:hover {
        border: 2px solid purple;
    
    }
    .form-field:focus {
        outline: none;
        border: 2px solid rgb(116, 116, 116);
    
    }
    
    .exp-date {
        /* styles for .exp-date */
        grid-column: 1;
    }
    
    .form-field-date {
        /* styles for .form-field-date */
        padding: 10px;
        border-radius: 5px;
        border: 2px solid rgb(182, 182, 182);
        transition: all 0.2s ease-in-out;
        width: 50px;
    }
    .form-field-date:focus {
        outline: none;
        border: 2px solid rgb(116, 116, 116);
    
    }
    .form-field-date:hover {
        border: 2px solid purple;
    
    }
    .form-field-group {
        /* styles for .form-field-group */
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 10px;
        margin-bottom: 10px;
    }
    .cvc {
        /* styles for .cvc */
        grid-column: 2;
    }
    
    .form-field-cvc {
        /* styles for .form-field-cvc */
        padding: 10px;
        border-radius: 5px;
        border: 2px solid rgb(182, 182, 182);
        transition: all 0.2s ease-in-out;
        width: 148px;
    }
    .form-field-cvc:focus {
        outline: none;
        border: 2px solid rgb(116, 116, 116);
    
    }
    .form-field-cvc:hover {
        border: 2px solid purple;
    
    }
    .form-confirm{
        padding: 10px;
        width: 100%;
    }
    
    .error {
        border: 1px solid red;
    }
    
    
    button{
        background-color: #220930;
        color: white;
        border-radius: 5px;
        transition: all 0.2s ease-in-out;
        
    }
    button:hover{
        background-color: #330e4a;
        color: white;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: underline;
    }
    .form_success{
        float: left;
        border: 0px solid green;
        padding-left: 10px;
        padding-top: 100px;

        order: 2; /* new style */
    }
    .success {
        
        
        
       margin: auto auto auto auto;
       text-align: center;
       position: absolute;
        left: 10%;

    }
    .success-continue-button {
        /* styles for .success-continue-button */
        
        padding: 10px;
        margin: 10px;
        width: 300px;
    }
    .hidden{
        display: none;
    
    }
    
    .attribution {
        /* styles for .attribution */
    }
}